/* colours */
:root{
  --primary: #FFE9D2;
  --secondary: #FFE1C4;
  --title: #FF8816;
}

/* layout styles */
nav{
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
}
nav a{
  text-transform: uppercase;
  color: var(--title);
}
nav a span{
  font-weight: bold;
}
nav .sidenav-trigger{
  margin: 0;
}

.drope{
  width: 10em;
}

/* classo styles */
.classes{
  margin-top: 20px;
}
.card-panel.classo{
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(90,90,90,0.1);
  display: grid;
  grid-template-columns: 6fr 1fr 1fr;
  grid-template-areas: "details edits delete";
  position: relative;
}
/* .classo img{
  grid-area: image;
  max-width: 60px;
} */
.classo-details{
  grid-area: details;
  margin-top: 6px;
  margin-left: 1em;
}
.classo-edit{
  grid-area: edits;
  margin-top: 6px;
  position: absolute;
  bottom: 25%;
  right: 5%;
}
.classo-edit i{
  /* font-size: 10px; */
}
.classo-delete{
  grid-area: delete;
  position: absolute;
  bottom: 25%;
  right: 15%;
}
.classo-delete i{
  /* font-size: 50px; */
}
.classo-title{
  font-weight: bold;
}
.classo-details{
  font-size: 1.16em;
}

/* form-styles */
.add-btn{
  background: var(--title) !important;
}
input{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.side-form button{
  background: var(--title);
  box-shadow: 1px 1px 3px rgba(90,90,90,0.2);
}
form .input-field{
  margin-top: 30px;
}

/* svg icons */

svg {
  text-align: center;
  margin: auto;
  width: 25px;
  height: 25px;
}

#icon-trash .trash-close {
  -webkit-animation: trashing linear 2s;
  animation: trashing linear 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@-webkit-keyframes trashing {

  0%,
  100% {
          -webkit-transform: translateX(0%);
          transform: translateX(0%);
          -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  }

  15% {
          -webkit-transform: translateX(-10px) rotate(10deg);
          transform: translateX(-10px) rotate(10deg);
  }

  30% {
          -webkit-transform: translateX(5px) rotate(-10deg);
          transform: translateX(5px) rotate(-10deg);
  }

  45% {
          -webkit-transform: translateX(-5px) rotate(5.6deg);
          transform: translateX(-5px) rotate(5.6deg);
  }

  60% {
          -webkit-transform: translateX(6px) rotate(-6.4deg);
          transform: translateX(6px) rotate(-6.4deg);
  }

  75% {
          -webkit-transform: translateX(-3px) rotate(3.2deg);
          transform: translateX(-3px) rotate(3.2deg);
  }
}

@keyframes trashing {

  0%,
  100% {
          -webkit-transform: translateX(0%);
          transform: translateX(0%);
          -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  }

  15% {
          -webkit-transform: translateX(-10px) rotate(10deg);
          transform: translateX(-10px) rotate(10deg);
  }

  30% {
          -webkit-transform: translateX(5px) rotate(-10deg);
          transform: translateX(5px) rotate(-10deg);
  }

  45% {
          -webkit-transform: translateX(-5px) rotate(5.6deg);
          transform: translateX(-5px) rotate(5.6deg);
  }

  60% {
          -webkit-transform: translateX(6px) rotate(-6.4deg);
          transform: translateX(6px) rotate(-6.4deg);
  }

  75% {
          -webkit-transform: translateX(-3px) rotate(3.2deg);
          transform: translateX(-3px) rotate(3.2deg);
  }
}


#icon-magic-wand .magic-stars {
  -webkit-animation-name: magic-stars;
  animation-name: magic-stars;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

@-webkit-keyframes magic-stars {

  0%,
  100%,
  41.99%,
  43.01%,
  47.99%,
  49.01% {
    opacity: 1;
  }

  49%,
  42%,
  48%,
  43% {
    opacity: 0;
  }
}

@keyframes magic-stars {

  0%,
  100%,
  41.99%,
  43.01%,
  47.99%,
  49.01% {
    opacity: 1;
  }

  49%,
  42%,
  48%,
  43% {
    opacity: 0;
  }
}


/* loading page  */
body #loading{
  margin-top: 30%;
  margin-left: 45%;
  
        
}